<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
         form{
        color:black;
        font-size:20px;

        }

        input{
          padding:13px;
          margin-bottom:5px;
          margin:5px;
          margin-top:10px;



        }
        label{
        font-size:25px;
        margin-left:10px;
        }
        </style>
</head>
<body style="background-color:	#F4F6F8"><hr>
<h1 align="center" >Hi.... <span style="font-family:'dancing script',cursive">{{ msg.dname }}</span></h1>
<br><br>
<div style="text-align:center;font-size:30px;font-weight:bold;margin-top:100px; color:red;font-style:italic;text-decoration:underline"><b><span>Update Here </div>

<form action="{% url 'donarupdate' %}" method="post">
    {% csrf_token %}


    <table align="center" style="border:1px solid #CCC; border-radius:8px; box-shadow:10px 8px 8px gray;background-color: #2EC4B6 ; margin-top:2    0px;padding:20px">
        <tr>
            <td><input type="hidden" name="did" value="{{ msg.did }}"></td>
        </tr>

        <tr>
            <td><label >State Name: </label></td>
            <td><input type="text" name="state" value="{{msg.state}}" size="20"> </td>
        </tr>
        <tr>
            <td><label>City Name: </label></td>
            <td><input type="text" name="city" value="{{msg.city}}" size="20"></td>
        </tr>
        <tr>
            <td><label>Phone Number: </label></td>
            <td><input type="text" size="20" name="phno" value="{{msg.phno}}" ></td>
        </tr>
        <tr><th><input type="submit" value="Update" name="btn" title="update" style="background-color:green;color:white;border:none;border-radius:5px">
        </th>
            <th><input type="submit" value="Logout" name="btn" title="logout" style="background-color:Darkred;color:white;border:none;border-radius:5px"></th>
        </tr></b>
    </table>
    </form>
<h4 align="center" style="color:red"> {{ u }}   </h4>
  </body>
</html>
